/* .App {
  text-align: center;
  background-color: black;
} */

.App-logo {
  height: 40vmin;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.paratext {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.App-link {
  color: #09d3ac;
}

.header {
  margin: 1rem;
}